<form action="new-quote" method="post">
    <label for="name">
        <input type="text" placeholder="Name" name="name" id="name">
    </label>
    <label for="quote">
        <input type="text" placeholder="Quote" name="quote" id="quote">
    </label>
    <button type="submit">Add New Quote</button>
</form>