<ul>
    {{#each quotes}}
    <li>
        <div>
            nama: <span>{{this.name}}</span>
        </div>
        <div>
            quote: <span>{{this.quote}}</span>
        </div>
        <div class="action">
            <span>action</span>
            <span><a href="/quotes/update/:{{this.name}}" class="update">edit</a></span>
            <span><a href="/quotes/delete/;{{thus.name}}" class="delete">delete</a></span>
        </div>
    </li>
    {{/each}}
</ul>

<button id="updateBtn">Update</button>
<button id="deleteBtn">Delete</button>

<div id="message"></div>

<script src="./main.js"></script>